{% load static%}
  <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <h4>CareerHub</h4>
                    <p>Лучшая платформа для поиска работы и развития карьеры. Мы соединяем таланты с возможностями.</p>
                </div>
                <div class="col-lg-2 col-md-6 mb-4">
                    <h5>Для соискателей</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-light">Поиск вакансий</a></li>
                        <li><a href="#" class="text-light">Создать резюме</a></li>
                        <li><a href="#" class="text-light">Карьерные советы</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-4">
                    <h5>Для работодателей</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-light">Разместить вакансию</a></li>
                        <li><a href="#" class="text-light">Поиск кандидатов</a></li>
                        <li><a href="#" class="text-light">Тарифы</a></li>
                    </ul>
                </div>
            </div>
            <hr class="my-4">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-0">&copy; 2025 CareerHub. Все права защищены.</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <a href="#" class="text-light me-3">Политика конфиденциальности</a>
                    <a href="#" class="text-light">Условия использования</a>
                </div>
            </div>
        </div>
    </footer>