{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title_name %}{% endblock %}</title>
     {% block link_style %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {% endblock %}
    {%block style%}
        {% include '_inc/style.html' %}
    {%endblock style%}
</head>
<body>
    {% block body %}
        {% block header %}
            {%include '_inc/_header.html'%}
        {% endblock header %}

        <main>
            {% block content %}
            {% endblock %}
        </main>

        {% block footer %}
            {% include '_inc/_footer.html'%}
        {% endblock footer %}
    {% endblock %}
    {%block skripts%}
        
    {%endblock skripts%}
</body>
</html>