{% extends 'base.html' %}
{% load static %}

{% block title %}Смена пароля - ProHR{% endblock %}

{% block style %}
    {% include '_inc/style.html' %}
    {% include '_inc/style_prof.html' %}
{% endblock %}
{%block header%}
    {%include '_inc/header.html'%}
{%endblock%}
{% block content %}
<div class="profile-section">
    <div class="profile-container">
        <div class="profile-card">
            <div class="profile-header">
                <div class="profile-avatar">
                    {{ user.email|first }}
                </div>
                <div class="profile-info">
                    <h1>Смена пароля</h1>
                </div>
            </div>
            
            <div class="profile-details">
                <form method="post" action="">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="detail-item" style="--index: {{ forloop.counter }}">
                            <div class="detail-label">{{ field.label }}</div>
                            <div class="detail-value">
                                {{ field }}
                                {% if field.errors %}
                                    <ul class="errorlist">
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="profile-actions">
                        <button type="submit" class="btn btn-primary">Сохранить новый пароль</button>
                        <a href="{% url 'company_profile' %}" class="btn btn-secondary">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}